*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.page {
    display: flex; /*задан флекс для контейнера*/
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
}

.content {
   display: flex;              /* Активируем Flexbox */
    flex-direction: row;       /* Располагаем элементы в строку */
    align-items: flex-end;     /* Прижимаем к низу по вертикали */
    border: 1px solid rgb(114, 15, 15);   /* Для визуализации границ контейнера */
  width: 1140px;
  gap: 30px;
  }

  .result{
    flex: 1;
  }

  .content__details{
    flex: 2;
  }

.search-form {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; /* Пропорциональное распределение свободного пространства */
    align-items: flex-start; /* Прижимаем к верхней части контейнера */
}

.content__list-container {
    height: 298px; /* Жесткая высота для контейнера */
    overflow-y: auto; /* Скролл при переполнении по вертикали */
}

.content__details h2 {
  width: 100%;
  height: 100%;
  padding-top: 26px; /* Отступ между заголовком и зоной с карточками */
}

.result__video-container{
    width: 711px;
    margin-bottom: 16px;
}

.result__video{
   width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content__list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card{
  display: flex;                /* Устанавливаем флекс-контейнер */
  align-items: flex-start;      /* Выравниваем элементы по верхнему краю */
}

.content__video-card-thumbnail{
  min-width: 194px;
  height: 103px;
  object-fit: fill;
  object-position: 100%;
}

.content__video-card-description-container{
  flex-grow: calc(1); /* Определяет свободное пространство*/
}

.search-form__fieldset-title{
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.title{
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.content__accent{
  display: inline-block;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  color:#545050;
  position: absolute;
}

.content__card-link{
  text-decoration: none;
  color:#fff;
}

.content__video-card-title{
  font-size: 30px;
  max-width: 196px;
  line-height: 100%;
  overflow: hidden; /* Скрывает переполненный текст */
  white-space: nowrap; /* Запрещает перенос текста на новую строку */
  text-overflow: ellipsis; /* Заменяет переполненный текст на многоточие */
}

.content__video-card-description {
  line-height: 16.2px; /* Установите нужное значение line-height */
  overflow: hidden; /* Скрывает переполненный текст */
  display: -webkit-box; /* Устанавливает блочный контекст для flexbox */
  -webkit-box-orient: vertical; /* Указывает на вертикальную ориентацию */
  -webkit-line-clamp: 3; /* Устанавливает максимальное количество строк */
  max-height: calc(16.2px * 3); /* Устанавливает максимальную высоту для 3 строк */
}